ul {
    list-style: none;
    padding: 0;
  }

.trend-query{
    font-size: 0.8rem;
}

  .trend-move{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  padding: 0.5rem;
  }

  .trend-move-btn{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    padding: 0.5rem 0;
  }

  .reverse{
    transform: rotate(180deg);
  }

  .trend-search{
    display: flex;
    align-items: center;
    margin: 0.5rem 0.5rem;
    justify-content: space-around
  }
  
 